.navbardiv{
    overflow:hidden;
    background-color:black;
    position: fixed;
    top:0;
    width:100%;
    margin-left:-10px;
    opacity: 0.8;
}
.headerline{
    height: 60px;
    width:100%;
}
.navbar{
    height: 60px;   
}
.navbar ul{
    overflow:auto;
}
.navbar li{
    float: right;
    list-style:none;
    margin: 18px 20px;
    transition: ease 0.3s font-size,ease 0.3s padding-top;
}
.navbar li a{
    color:white;
    padding: 3px 3px;
    text-decoration: none;
}
.navbar li a:hover{
    transition: ease 0.3s color;
    color: green;
    font-size: 1.2em;
}
body{
    background-color: black;
}
.navbar li a:visited{
    color: red;
}
.navbar li a:active{
    color: yellow;
}
.maincontainer{
    height: auto;
    overflow: hidden;
}
div.detaildiv {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 70%;
}
div.detaildiv p{
    color:white;
    padding-left:auto;
    padding-right: auto;
    width: 30%;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 2em;
}
.navbar .search{
    float: left;
    color:white;
    padding : 20px 50px;
}
div.detaildiv .detailcontainer{
    color: white;
    width:97%;
    
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -20px;
    font-weight: 400;
    font-size: 1.5em;
    text-align: justify;
}

.pdiv{
    margin-left:auto;
    margin-right:auto;
    width:50%;
    margin-top: 100px;
}

.ndiv{
    margin-left:auto;
    margin-right:auto;
    width:50%;
    margin-top: 50px;
}

.namecontainer{    
    color:rgb(247, 237, 237);
    margin-left:auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    font-weight: bold;
}

.studycontainer{
    color: rgb(255,255,255);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: lighter;
}
.pimage{
    height:300px;
    width: 300px;
    display:block;
    margin-left:auto;
    margin-right:auto; 
    border-radius: 150px;
}
.blankcontainer{
    margin: 20px;
    width: 30%;
    margin-left: auto;
    background-color:white;
    margin-right: auto;
}

.technical{
    font-size: 2em;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}

.skillcontainer{
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    height:850px;
    width:60%;
    
}
.leftskillcontainer{
    float:left;
    width:  32%;
    
    height: 83%;
    margin-top: 50px;
    margin-left:40px;
}

.rightskillcontainer{
    float:right;
    width: 32%;
    height: 83%;
    
    margin-top: 50px;
    margin-right:40px;
}

.skillname{
    margin-top:50px;
    margin-left:auto;
    margin-right:15%;
    text-align: center;
    color:white;
    list-style:none;
}
.progressbarskill{
    width:80%;
    height:30px;
    
    
}
.projecttitle .title{
    color:white;
    height:auto;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.projectcontainer{
    height:auto;
    
    
    width:60%;
    margin-left:auto;
    margin-right: auto;
}
.getintouchs{
    width:60%;
    margin-left:auto;
    margin-right: auto;
    color:white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.screenshots{
    overflow: hidden;
    width: 80%;
    color: white;
    margin-left: auto;
    margin-right: auto;
}
.notesapp{
    color:white;
}
.screenshots li{
    float:left;
    border-radius: 150px;
    width: 30%;
    padding-left: 7%;
    list-style: none;
    margin-right: 10%;
}
.screenshots li img{
    border-radius: 50px;
    width: 100%;
}
.screenshots li p{
    text-align: center;
    color:white;
    text-decoration: none;
    font-size: 20px;
}


.projectcontainers{
    overflow: hidden;
    width: 30%;
    color: white;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid green;
}
.projectcontainers li a{
    background-color: blue;
    color: white;
    height: 100%;
}
.projectcontainers li{
    float: left;
    list-style: none;
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }

  .fa:hover {
    opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }